{% load static %}

<!doctype html>
<html lang="en">


<head>
<title> Login</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- VENDOR CSS -->
<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css'%}">

<!-- MAIN CSS -->
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
<link rel="stylesheet" href="{%static 'assets/css/color_skins.css' %}">
<style>
    .auth-main{
        {% comment %} background: url("{% static 'assets/images/design.jpg' %}") no-repeat top fixed; {% endcomment %}

    }
</style>
</head>

<body class="theme-cyan">
  	<!-- WRAPPER -->
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle auth-main" >
				<div class="auth-box" >
                    <div class="top">
                        <img src=" {%static 'assets/images/11.jpg' %}" alt="Logo">
                    </div>
					<div class="card">
                        <div class="header">
                            <p class="lead">Login to your account</p>
                        </div>
                        <div class="body">
                            <form class="form-auth-small" action="/login/" method="post">
                             {% csrf_token %}
                                <div class="form-group">
                                    <label for="signin-email" class="control-label sr-only">Email</label>
                                    <input type="email" class="form-control" name="login-email" id="login-email"  placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="signin-password" class="control-label sr-only">Password</label>
                                    <input type="password" class="form-control" name="login-password" id="login-password"  placeholder="Password">
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                                 {% for message in messages %}
        {% if message.tags == "success" %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% elif message.tags == "error" %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
                                <div class="bottom">
                                    <span>Don't have an account? <a href="/signup/">Register</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
</body>

</html>
